{
    "insertColons": true,
    "insertSemicolons": false,
    "insertBraces": true,
    "insertNewLineAroundImports": "root",
    "insertNewLineAroundBlocks": true,
    "insertNewLineAroundProperties": false,
    "insertNewLineAroundOthers": false,
    "insertSpaceBeforeComment": true,
    "insertSpaceAfterComma": true,
    "insertSpaceInsideParenthesis": false,
    "insertParenthesisAfterNegation": false,
    "insertParenthesisAroundIfCondition": true,
    "insertNewLineBeforeElse": false,
    "insertLeadingZeroBeforeFraction": true,
    "selectorSeparator": ", ",
    "tabStopChar": "\t",
    "newLineChar": "\n",
    "quoteChar": "\"",
    "sortProperties": "grouped",
    "alwaysUseImport": true,
    "alwaysUseAtBlock": false,
    "alwaysUseExtends": false,
    "alwaysUseNoneOverZero": true,
    "reduceMarginAndPaddingValues": true,
    "ignoreFiles": ["node_modules/**/*"]
}
